.main{
	font-size:12px;
	height:33px;
	background-color:#9f1d1d;
}

.nav{
	float: none;
	justify-content: center;
	margin: auto;
	flex: fill;
	background-color:#9f1d1d;
	margin:0px;
	padding-bottom:0px;
	background-size:auto;
	width:992px;
	height:33px;
}

.nav-item{
	letter-spacing:0px;
}

.nav-item a{
	color:white;
	font-family:Ubuntu, sans-serif;
	font-style:normal;
	font-weight:normal;
	text-align:center;
	height:33px;
	transition: .25s ease;
}

.nav-item a:hover{
	color: #ffffff;
	border-radius: 0px;
	box-shadow: 0px -5px 5px 0px inset rgba(0,0,0,0.05);
}
.nav li:hover{
	background-color: #d92525;
}

.d1{
	color:white;
	height:33px;
}

.d1 li{
    display: inline-block;
}

.active{
	background-color: #d92525;
	box-shadow: 0px -5px 5px 0px inset rgba(0,0,0,0.05);
}

li a:hover, .d1:hover .d2{
    background-color: #d92525;
    color: white;
    box-shadow: 0px -5px 5px 0px inset rgba(0,0,0,0.05);
}

.d1:hover .d3{
    display: block;
}

.d2 li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.d2{
	color:white;
	font-family:Ubuntu, sans-serif;
	width:104px;
	background-color:rgba(0,123,255,0);
	text-align:center;
	height:33px;
	transition: .25s ease;
}

.d3{
	display: none;
	padding:0px;
	min-width: 160px;
	font-size:10px;
	font-family:Ubuntu, sans-serif;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
}

.d3 a {
    color: black;
    padding: 4px 24px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.d3 a:hover{
	background-color: #4e4e4e;
    color: white;
    transition: .16s ease;
}